<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplityWeiBo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FD6B09E1D5829CF00DF4FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD6B0B71D5829CF00DF4FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD6B0C21D5829CF00DF4FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
